body{
    margin:0;
    padding:0;
    background:rgb(69, 2, 92);
}
canvas {
    padding: 0;
    margin:0;
}
.toolbar {
    border: solid black 1pt;
    background:rgb(52, 3, 69);
    overflow: auto;
}
